.product-card{
    height:14rem;
    width: 14rem;
    margin-top: 5rem 
}
.product-img{
    height: 10rem;
    width: 10rem;
    display: block;
    margin: 1rem auto;
    border: none;
    border-radius: 1rem;
}
.product-card h3{
    font-size: 1.3rem;
    font-weight:500 ;
    margin-left: 2rem;
}